/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-dic-2020, 17:46:17
    Author     : SNG_X
*/

body {
    font-family: 'calibri';
}

#page {
    margin: 0px auto;
    width: 100%;
}

#header {
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #ffffff;
    font-size: 20px;
    color: #ffffff;
}

#login {
    background: #fafafa;
    height: 150px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
}

