.body,html {
    font-family: Garamond, serif;
    height: 100%;
    margin: 0;
    padding: 0 ;
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
     font-size:35px; 
     text-align: center;
     align-items: center;
     color : #ff0000;
}
.form-box {
    width: 400px; /*300*/
    padding: 100px; /*40*/
    background: #191919; /* Fondo recuadro login */
    text-align: center;
    border-radius: 15px;
}

.form-title {
    color: #5352ed;
    text-transform: uppercase; /* Cambia a mayusculas 'Login'*/
    font-weight: 500;
}

.inputText {
    background: #191919;
    color: #ffffff;
    border-radius: 15px;
    border: 3px solid #5352ed;
}

.inputPassword {
    background: #191919;
    color: #ffffff;
    border-radius: 15px;
    border: 3px solid #5352ed;
}

.language {
    color: #5352ed;
}

.langu {
    background: #ffffff;
    color: #191919;
}

.buttons {
    background: #ffffff;
    color: #191919;
}

.contenedor{
    width: 100%;
    height: auto;
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor .card {
    padding: 10px;
    margin: 10px;
}
